In [256]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [268]:
data=pd.read_csv('cropdata/apy.csv')

In [258]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [259]:
data.isnull().any()

State_Name       False
District_Name    False
Crop_Year        False
Season           False
Crop             False
Area             False
Production        True
dtype: bool

In [260]:
data1=data[data['Crop_Year']==2014]

In [261]:
data1['Production'].fillna(1,inplace=True)

C:\Users\ajay\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [262]:
data1.isnull().any()

State_Name       False
District_Name    False
Crop_Year        False
Season           False
Crop             False
Area             False
Production       False
dtype: bool

In [263]:
data1['Yield']=data1['Production']/data1['Area']

C:\Users\ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [254]:
def crop(dist_name,season,data):
    data=data[data['District_Name']==dist_name]
    da=data[data['Season']==season]['Crop']
    for i in da:
        print(i)
    return 0
def yield_factor(dist_name,season,data):
    print('AVILABLE CROPS FOR DISTRICT <<  {}  >> IN SEASON <<  {}>> ARE GIVEN BELOW WITH RESPECT TO THEIR YIELD'.format(dist_name,season))
    data=data[data['District_Name']==dist_name]
    da=data[data['Season']==season][['Crop','Yield']]
    print(da)
    return 0

In [264]:
season=season+''*(11-len(season))
yield_factor('24 PARAGANAS NORTH','Autumn     ',data1)

TypeError: can only concatenate list (not "str") to list

In [269]:
pin=pd.read_csv('cropdata/pincode.csv')

In [272]:
pin.head()

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
0,Achalapur B.O,504273,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Rechini S.O,Mancherial H.O,NaN,NaN
1,Ada B.O,504293,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Asifabad S.O,Mancherial H.O,NaN,NaN
2,Adegaon B.O,504307,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Boath,Adilabad,TELANGANA,NaN,Echoda S.O,Adilabad H.O,NaN,NaN
3,Adilabad Collectorate S.O,504001,S.O,Non-Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226703,NaN,Adilabad H.O,NaN,NaN
4,Adilabad H.O,504001,H.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226738,NaN,NaN,NaN,NaN

In [270]:
punjab=data[data['State_Name']=='Punjab']

In [301]:
punjab.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
161267,Punjab,AMRITSAR,1997,Kharif,Arhar/Tur,1800.0,1400.0
161268,Punjab,AMRITSAR,1997,Kharif,Bajra,1000.0,1000.0
161269,Punjab,AMRITSAR,1997,Kharif,Maize,7000.0,14000.0
161270,Punjab,AMRITSAR,1997,Kharif,Rice,292000.0,879000.0
161271,Punjab,AMRITSAR,1997,Kharif,Sesamum,6000.0,1700.0

In [274]:
punjab_pin=pin[pin['statename']=='PUNJAB']

In [300]:
punjab_pin.head(2)

,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
99212,Agampur B.O,140118,B.O,Delivery,Chandigarh,Chandigarh HQ,Punjab,Ropar,Ropar,PUNJAB,NaN,Anand Pur Sahib S.O,Ropar H.O,NaN,NaN
99215,Allahpur B.O,140103,B.O,Delivery,Chandigarh,Chandigarh HQ,Punjab,NaN,Mohali,PUNJAB,NaN,Kurali S.O,Ropar H.O,NaN,NaN

In [277]:
dist_pin=punjab_pin[['Districtname','pincode']]

In [294]:
dist_pin.to_csv('punjab_different_pincode.csv')

In [282]:
dist_pin.drop_duplicates(inplace=True)

C:\Users\ajay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [283]:
len(dist_pin)

627

In [285]:
dist_pin;

In [290]:
pun_dist_crop=punjab['Crop'].unique()

In [299]:
pun_dist_crop

array(['Arhar/Tur', 'Bajra', 'Maize', 'Rice', 'Sesamum', 'Urad', 'Gram',
       'Masoor', 'Rapeseed &Mustard', 'Wheat', 'Cotton(lint)',
       'Moong(Green Gram)', 'Sugarcane', 'Peas & beans (Pulses)',
       'Other  Rabi pulses', 'Sunflower', 'Guar seed', 'Barley',
       'Groundnut', 'Moth', 'Jowar', 'Linseed'], dtype=object)

In [314]:
li=['Arhar/Tur','Peas & beans (Pulses)','Cotton(lint)','Moong(Green Gram)','Rapeseed &Mustard']
dic={'Arhar/Tur':'Arhar','Peas & beans (Pulses)':'Pea','Cotton(lint)':'Cotton','Moong(Green Gram)':'Moong','Rapeseed &Mustard':'Rapeseed'}

In [317]:
punjab.head(1)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
161267,Punjab,AMRITSAR,1997,Kharif,Arhar,1800.0,1400.0

In [316]:
for i in range(0,len(punjab)):
    d=punjab.iloc[i,4]
    if (d in li):
        punjab.iloc[i,4]=dic[d]

C:\Users\ajay\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [318]:
punjab.to_csv('punjab_crop.csv')